body{
    background-image:url('../img/bg.png');
    width:100%;
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    color:#343434;
    line-height: 18px;
    font-size:14px;
    background-color:#ededef;
    margin:0;
    padding:0;
}
a {
    color:#c33;
    text-decoration: none;
    font-weight:bold;
}
.header
{
    top:0;
    left:50%;
    margin-left:-450px;
    line-height:30px;
    font-family:Arial;
    font-weight:bold;
    font-size:28px;
    text-align:center;
    text-shadow:-1px 1px 0px #efefef;
}
.galogo
{
    width:30px;
    height:30px;
    display:block;
    background-image:url('../img/ga_30x30.png');
    float:left;
    margin-right:20px;
}
.basicBox
{
    width:850px;
    height:60px;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin:25px 0 0 -400px;
}
.seriesIn
{
    width:848px;
    height:50px;
    display:block;
    border:1px solid #999;
    box-shadow:inset -1px 1px 2px rgba(68,68,68,0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:0;
}
.seriesOut
{
    height:300px;
    display:block;
    margin-top:50px;
    background-position:center center;
    background-repeat: no-repeat;
    text-align:center;
    line-height:60px;
    font-size:45px;
    text-shadow:0px 1px 0px #efefef;
    border-bottom:1px solid #999;
}
input
{
    width:717px;
    display:block;
    padding:10px 20px;
    float:left;
    height:30px;
    font-size:20px;
    line-height:30px;
    border:0;
    color:#343434;
    box-shadow:inset -1px 1px 2px rgba(68,68,68,0.5);
}
.btn
{
    width:50px;
    padding:10px 20px;
    display:block;
    float:right;
    height:30px;
    font-size:20px;
    line-height:30px;
    text-align:center;
    cursor:pointer;
    border-left:1px solid #999;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}
.btn:hover
{
    box-shadow:inset -1px 1px 2px rgba(68,68,68,0.5);
}
.btn:active
{
    box-shadow:inset -1px 1px 2px rgba(68,68,68,0.5);
}
.profphoto
{
    background-image: url('../img/profphoto.jpeg');
    background-size: 60px 60px;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 2px 2px rgba(68,68,68,0.5);
    display:block;
    float:left;
    width:60px;
    height:60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.nameblock
{
    width:260px;
    height:60px;
    margin-left:30px;
    display:block;
    float:left;
    text-shadow:0px 1px 0px #efefef;
}
.support
{
    width:850px;
    height:46px;
    padding-top:10px;
    text-align: center;
    display:block;
    position:relative;
    z-index:100;
    top:0;
    left:50%;
    margin-left:-400px;
    line-height:16px;
}
.panel
{
    width:45%;
    height:36px;
    font-size:10px;
    line-height: 12px;
    display:block;
    text-align:left;
}
.shiftLeft
{
    margin-left:25px;
}
.left
{
    float:left;
}
.right
{
    float:right;
}

.nav
{
    list-style-type: none;
    margin:0;
    padding:0;
    float:right;
}
.nav li
{
    margin:0;
    float:left;
    width:30px;
    height:30px;
    margin-right:25px;
    display:block;
}
.noright
{
    margin-right:0;
}
.nav li a
{
    width:30px;
    height:30px;
    display: block;
}
.icon
{
    background-image:url('../img/sprites.png');
    width:30px;
    height:30px;
    display:block;
    cursor:pointer;
}
.em
{
    background-image:url('../img/email.png');
}
.wb
{
    background-image:url('../img/web.png');
}
.gt
{
    background-image:url('../img/github.png');
}
.fb
{
    background-position: 0px 0px;
}
.tw
{
    background-position: -30px 0px;
}
.fl
{
    background-position: -60px 0px;
}
.vm
{
    background-position: -90px 0px;
}
.gp
{
    background-position: -120px 0px;
}
.li
{
    background-position: -150px 0px;
}